@page
@model LeagueInfo.Pages.IndexModel
@{
    ViewData["Title"] = "League Info";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoL Info</title>
    <link rel="stylesheet" href="/css/index-style.css">
</head>
<body>
    <div class="container">
        <h1>LoL Info</h1>
        <p>Wprowadź dane gracza, aby zobaczyć jego statystyki:</p>
        <form method="get" action="/PlayerStats">
            <div>
                <label for="summonerName">Nazwa gracza:</label>
                <input type="text" id="summonerName" name="GameName" required>
            </div>
            <div>
                <label for="tag">Tag:</label>
                <input type="text" id="tag" name="TagLine" required>
            </div>
            <button type="submit">Szukaj</button>
        </form>

        @if (!ModelState.IsValid)
        {
            <p style="color: red;">@ViewData["Error"]</p>
        }
    </div>
</body>
</html>
